

<main>
  <div class="card p-3 my-3">
    <div class="card-body">
        <h2> Manager Dashboard </h2> 
    </div>
</div>


  <div class="content">
<img src="https://media.istockphoto.com/vectors/warehouse-workers-are-storing-boxes-on-the-rack-vector-id965959650?k=6&m=965959650&s=612x612&w=0&h=djRQQrn6bNKg2WSFMrLD0mzJpvWZcY_4nz3c1xRYefs=">
  </div>   
</main>


<div class="phone">
  <input type="radio" name="s" id="s1">
  <input type="radio" name="s" id="s2" checked="checked">
  <input type="radio" name="s" id="s3">
  <label for="s1"><img src="assets/Images/wrr.png"[routerLink]="['/mware']"alt=""></label>
  <label for="s2"><img src="assets/Images/shop.png" [routerLink]="['/mshop']"alt=""></label>
  <label for="s3"><img src="assets/Images/report.png" [routerLink]="['/mreport']"alt=""></label>
  
  <div class="circle"></div>
  <div class="phone_content">
    <div class="phone_bottom">
      <span class="indicator"></span>
    </div>
  </div>
</div>





